<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    <body>

        <h1>KWIK E Mart</h1>

        <h2><span data-th-text="${name}"></span> cart </h2>

        <form method="POST" action="/orders">

            <table>
                <tr>
                    <!-- <td>Name:</td> -->
                    <input type="hidden" name="name" th:value="${name}">
                </tr>
                <tr>
                    <td>Item:</td>
                    <td><input type="text" name="item"></td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="number" name="quantity" min="1" value="1"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Add</button></td>
                </tr>
            </table>
        </form>

        <h2>Contents</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="li: ${lineItems}">
                    <td><span data-th-text="${li.item}"></span></td>
                    <td><span data-th-text="${li.quantity}"></span></td>
                    <td>
                        <!-- <a
                        th:href="@{/cart/delete/{cartId}(cartId=${cartItem.id})} + '?username=' + *{username}"
                        class="text-blue-500 underline"
                        >Delete</a> -->
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <form method="POST" action="/checkout">
                            <table>
                                <tr>
                                    <!-- <td>Name:</td> -->
                                    <input type="hidden" name="name" th:value="${name}">
                                </tr>
                            </table>
                            <button type="submit">Checkout</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
        
    </body>
</html>