<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- <table>
            <tr data-th-each="li: ${lineItems}">
                <td><span data-th-text="${li.item}"></span></td>
                <td><span data-th-text="${li.quantity}"></span></td>
            </tr>
        </table> -->
        
        <div>Order Id: <span data-th-text="${orderId}"></span></div>

        <div>Order Id: <span data-th-text="${orderId}"></span></div>

        <div>Order Id: <span data-th-text="${orderId}"></span></div>
        
    </body>
</html>